doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

        script(src="/js/angular.js")
        script(src="/js/app.js")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/style.css")
    body(ng-app="App" ng-controller="AppController")
        block content